body{
    width: 600px;
    height: 600px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.square{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: green;
}

.circle:nth-child(even){
    background-color: blue;
    border-radius: 50%;
}
