.outer-square {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.inner-square,
.circle {
  background-color: green;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  background-color: blue;
}
